{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/estilo.css' %}">
    <title>Panel financiero</title>

</head>
<body class="panel_financiero">
    
    <div id="datos" class="primary-content">
        
        <div id="dinero_b" class="dinero_b"> Ganancias disponibles finales
             <img src="/static/icon/salario.png" class="iconoAjust"></img>: 
            
            {% for bolsa in bolsillo %}
                {% if bolsa.dinero < 0 %}
                    <div> socio: <block class="perdida"> ${{ bolsa.dinero }} </block> </div>
                {% else %}
                    <div> socio: <block class="ganancia"> ${{ bolsa.dinero }} </block> </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="dinero_b" class="dinero_b"> 
        
            {% for fuerte in caja_fuerte %}
                <div id="caja_fuerte_" class="caja_fuerte_"> 
                    total resto en la caja fuerte
                    <img id="icono_caja_fuerte" class="iconoAjust" src="/static/icon/caja_fuerte.png">
                    : 
                    
                </div>
                <div class="ganancia">
                    ${{ fuerte.dinero }} 
                </div>
            {% endfor %}

        </div>
        <div id="dinero_b" class="dinero_b primary-content"> 
            {% for c in caja %}
                <div id="caja_" class="caja_"> 
                    actual cantidad en la caja
                    <img id="icono_caja_fuerte" class="iconoAjust" src="/static/icon/caja-registradora.png">
                    :   
                </div>
                <div class="ganancia">
                    ${{ c.dinero }}
                </div>
            {% endfor %}
        </div>
        
    
        
    </div>

    <div id = "grafico_dias_de_ganancias" class="primary-content contenedor_graf">
        {% include 'view/panel_financiero/grafico_dias_ganancia.html' %} 
   </div>
   <div id="lista_de_dias">
       {% for dia_g in dias_de_ganancia %}
           
               <div id="dia" data-year="{{ dia_g.anio }}" 
                   data-mes="{{ dia_g.mes }}" data-dia="{{ dia_g.dia }}" 
                   data-ganancias="{{ dia_g.ganancias_netas }}">
                   
               </div>
           
       {% endfor %}
   </div>

    
    <div class="primary-content">
        {% include "view/panel_financiero/grafico_clientes_por_dia.html" %}
    </div>
    
    
    <div id = "datos_clientes_por_dia">
        <div id = "lista_de_dias_clientes">
            {% for dia_c in clientes_per_dia %}
                <div id="dia_cliente" data-year="{{ dia_c.anio }}" 
                data-mes="{{ dia_c.mes }}" data-dia="{{ dia_c.dia }}" 
                data-clientes="{{ dia_c.cantidad_de_clientes }}"-></div>
            {% endfor %}
        </div>
    </div>

    <div id="datos_fechas_servicios">
        
        <h3 class="carpeta">Metas de pagos fijos</h3>
        <div id="graficos" class="graficos">
        {% for grafica in graficas %}
            <div class="grafico-container">
            <img class="grafico" src="/static/img/graf/{{ grafica }}" alt="Descripción de la imagen">
            </div>
        {% endfor %}
        </div>

          
        
    
    </div>

</body>
<script type="module" src="{% static 'JavaScript/librerias/d3/d3.js' %}"></script>
<script type="module" src="{% static 'JavaScript/librerias/d3/plot.js' %}"></script>
</html>